body {
    font-family: 'poppins', 'Roboto', sans-serif;
    /* Replace with your desired font family */
}

html,
body * {
    font-family: 'poppins', 'Roboto', sans-serif !important;
    font-size: .9rem;
}

.link {
  color: #1976D2;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.link:hover {
  color: #1976D2;
  text-decoration: underline;
}

.task {
    padding: 1px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid #959595;
}

.task-details-section{
  padding: 25px 15px;
}

.task-details-box{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: flex-start;
}

.star-container{
  border-radius: 5px;
  padding: 1px 4px;
  padding-right: 8px;
}

.star-container.star-5{
  background-color: #7b1fa2;
}

.star-container.star-4{
  background-color: #ad3ade;
}

.star-container.star-3{
  background-color: #c79ada;
}

.star-container.star-2{
  background-color: #FDB800;
}

.star-container.star-1{
  background-color: #E64900;
}

.star-container *{
  color: #f5f5f5;
}

.star-container p{
  font-size: .8rem !important;
}

.review-star-box{
  height: 10px;
  width: 200px;
  background: linear-gradient(to right, #9614ca, #b248dc);
  border-radius: 10px;
}